# ─── Mercado Libre ───────────────────────────────────────────
ML_CLIENT_ID=aqui_tu_app_id
ML_CLIENT_SECRET=aqui_tu_client_secret
ML_ACCESS_TOKEN=aqui_tu_access_token
ML_REFRESH_TOKEN=aqui_tu_refresh_token
ML_SELLER_ID=aqui_tu_user_id_de_ml

# ─── Google Sheets ────────────────────────────────────────────
GOOGLE_SERVICE_ACCOUNT_EMAIL=xxx@proyecto.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
GOOGLE_SHEET_ID=1b3z9JQx6gnKvSqbMJD4AO0CYVI47W7ogCoVmu8nW4rI

# ─── Servidor ─────────────────────────────────────────────────
PORT=3000
